<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>410529695055-kcdkg6d4nogks2cai5ihi85lsd80r0ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410529695055-kcdkg6d4nogks2cai5ihi85lsd80r0ao</string>
	<key>API_KEY</key>
	<string>AIzaSyDWzEM-XUQth0fgw9o_T8iFJQqfy5jBoMM</string>
	<key>GCM_SENDER_ID</key>
	<string>410529695055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josephaws.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>chen41-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>chen41-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410529695055:ios:ec2b84b941ecdc76</string>
	<key>DATABASE_URL</key>
	<string>https://chen41-ios.firebaseio.com</string>
</dict>
</plist>